@model IEnumerable<WebUI.Models.WorkoutModel>

@{
    ViewBag.Title = "Today's workout";
}

<h2>Today's workout</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Exercise Name")            
        </th>
        <th>
            @Html.Label("Repetitions")            
        </th>
        <th>
            @Html.Label("Weight")
        </th>
        <th>
            @Html.Label("Start Time")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.excercise.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.reps)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
